*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #b0d9eb;
  overflow-x: hidden;
  font-family: "Raleway", bold;
}
.texto{
  margin-bottom: 20px;
  background-color: #7bbbc7;
  text-align: center;
  margin: 12px 20px;
  border-radius: 20px;
  margin-top: 15%;
  color: #3d6475;

}
.texto b{
  font-size: 20px;
  color:#24414f;
  margin-bottom: 6px;
}
.text{
  margin-bottom: 20px;
}
.texto2{
  margin-bottom: 20px;
  text-align: center;
  margin: 12px 20px;
  border-radius: 20px;
  margin-top: 10%;
  font-size: 16px;
  color: #4b7283;
}
.texto2 b{ 
  font-size: 20px;
  color: #315768;
}
.text2{
  margin-bottom: 20px;
}
.header{
    position:fixed;
    width: 100vh;
    height: 30px;   
    background-color:#294145;
    padding-top: 10px;
}
.header p{
    margin-top: 0px;
    margin-left: 12%;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
.container {
  position: absolute;
}
#menu-toggle{
  display: none;
}

.menu {
  position: fixed;
  top: 0%;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #4c858f;
  transition: left 0.3s;
}

.menu-open {
  position: fixed;
  top:5px;
  left: 0;
  z-index: 2;
  width: 40px;
  height: 40px;
  cursor: pointer;
  
}

.menu-open .hamburger {
  position: absolute;
  top: 30%;
  left:40%;
  transform: translate(-0%, -60%);
  width: 20px;
  height: 3px;
  background: #fff;
  transition: background 0;
}

.menu-open .hamburger:before,
.menu-open .hamburger:after {
  content: "";
  position: fixed;
  width: 20px;
  height: 3px;
  background: #fff;
}

.menu-open .hamburger:before {
  top: -8px;
}

.menu-open .hamburger:after {
  top: 8px;
}

#menu-toggle:checked ~ .menu {
  left: 0;
}

#menu-toggle:checked ~ .menu-open .hamburger {
  background:transparent;
}

#menu-toggle:checked ~ .menu-open .hamburger:before {
  transform: rotate(45deg);
  top: 0;

}

#menu-toggle:checked ~ .menu-open .hamburger:after {
  transform: rotate(-45deg);
  top: 0;
}
.menu ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  

}
.h2 {
  position:relative;
  width: 100%;
  height: 150px;
  background-color: #294045;
}
.h2 h2{
  position: fixed;
margin-top:29%;
margin-left: 5%;
font-size: 25px;

}
.menu ul  {
list-style: none;
padding: 0;
font-family: ARIAL;
}
.menu ul li a {
color: white; /* Definir a cor dos links como branco */
text-decoration: none;

}
.menu ul li a img {
  filter: invert(1); /* Inverter a cor das imagens para branco */
}
.menu ul li a:hover {
  color: rgb(89, 146, 146); /* Definir a cor dos links ao passar o mouse */
}
.menu ul li{
  margin-left: 10px ;
  margin-bottom: 30px;
  text-align: lef;
  border-radius: 20px;
  padding: 10px 10px;

}
.menu ul li:hover{
  background-color: #325a64;
  transition: 0.5s;
}